/*
CSS Styles for Jobbie home page
Created April 12, 2014
*/

.content{
	width: 1200px;
	margin: auto;
	margin-top: 80px;
	font-family: OpenSans, sans-serif;
}

.content_row {
	width: 100%;
	height: 600px;
	margin-bottom: 50px;
}

.content_header {
	font-size:38px;
	width: 100%;
	color:#00bb9a;
	padding-bottom: 20px;
}

.break {
	width: 100%;
	height: 5px;
	float: left;
	background-color: #00bb9a;
	margin: 10px 0;
}

/* main */

.main_content {
	font-size: 20px;
}


.main_text {
	float: left;
	width: 700px;
	margin-left: 50px;
	margin-top: 100px;
	text-align: center;
}

#main_text_top {
	font-size: 30px;
	font-style: italic;
}

#main_text_bottom {
	font-size: 45px;
	font-style: bold;
}

.main_image {
	float: right;
	margin-right: 60px;
	margin-top: 50px;
}

.main_image > img {
	height: 80%;
}

/* About */

.about_content {
	padding-top: 10px;
}

.about_descript {
	width: 90%;
	margin: auto auto 30px auto;
	font-size: 25px;
	font-style: italic;	
	text-align: center;
}

.about_item {
	display:inline;
	width: 390px;
	float: left;
}

.about_item div, 
.about_item img {
	margin-left: auto;
	margin-right: auto;
}

.about_image {
	display: block;
	height: 170px;
	width: auto;
}

.about_text {
	margin-top: 20px;
	width: 300px;
	text-align:center;
	font-size: 20px;
}

/* Screenshots */

.carousel_wrapper {
	height: 500px !important;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 100%;
    z-index: -10;

}

.carousel_wrapper div,
.carousel_wrapper a {
	display: inline-block;

}
.jcarousel ul {
    width: 200em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

.jcarousel li>img{
	height: 500px;
	width: auto;
	float: left;
	margin: 0 20px;
}

.jcarousel_control {
	height: 100%;
	width: auto;
}

.jcarousel_control a {
	position: relative;
	top:50%;
	margin-top: -65px;
	z-index: -10;
}

.jcarousel_control a:hover{
	cursor: pointer;
}

.jcarousel-control-prev {
	float: left;
}

.jcarousel-control-next {
	float: right;
}


/* Team */

.team_content{
	display:block;
}

.team_member {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

.team_photo {
	width:200px;
	height:auto;
	display: inline;
	float: left;
	margin-right: 20px;
}

.team_photo > img {
	width: 200px;
	height: auto;
	border-radius: 50;
}

.team_descript {
	height: 200px;
	display:inline;
}

.tean_descript p {
}

.team_member_name {
	font-size: 30px;
	color: #0079be;
}

.team_position {
	font-style: italic;
}

.team_member_name,
.team_position{
	margin: 0px;
	padding:0px;
}

