/*
CSS styles for the nav bar
Created April 12, 2014
*/

.nav_bar {
	padding: 5px 0;
	background-color: #00bb9a;
	width: 100%;
	height: 80px;
	font-family: OpenSans, sans-serif;
	font-size: 20px;
	color: white;
	position:fixed;
	top:0;
}


/* Title */
.title {
	font-size: 45px;
	height: 100%;
	display: inline;
	float:left;
}

.title:hover {
	cursor: pointer;
}

.title > img {
	height: 100%;
	width: auto;
	margin-right: 10px;
	float: left;
}

.title_text {
	height:100%;
	position: relative;
	top: 6px;
	display: inline;
}



/* Nav Content */
.nav_content {
	position:relative;
	width: 1200px;
	height: 100%;
	margin: auto;
}

.nav_content > div {
	display: inline;
}

.nav_menu {
	float: right;
	position: relative;
	top: 20px;
}

.nav_item {
	display:inline;
	margin-right: 20px;
	font-family: OpenSans, sans-serif;
	font-size: 30px;
	color: white;
	height: 100%;
}

.nav_item:hover {
	cursor:pointer;
}


.nav_btn > a{
	color: white;
	text-decoration: none;
}